In [1]:
import pandas as pd
from lets_plot import*
LetsPlot.setup_html()
import numpy as np

In [2]:
import os

In [3]:
all_files = [os.path.join('../data/waitrose', file) for file in os.listdir('../data/waitrose') 
             if file.endswith('.csv')]
df=pd.concat((pd.read_csv(file) for file in all_files))

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25418 entries, 0 to 1593
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   data-product-id        25418 non-null  int64
 1   data-product-name      25418 non-null  object
 2   data-product-type      25418 non-null  object
 3   data-product-on-offer  25418 non-null  bool
 4   data-product-index     25408 non-null  float64
 5   image-url              25418 non-null  object
 6   product-page           25418 non-null  object
 7   product-name           25407 non-null  object
 8   product-size           25363 non-null  object
 9   item-price             25407 non-null  object
 10  price-per-unit         24976 non-null  object
 11  offer-description      7201 non-null   object
 12  category               25418 non-null  object
dtypes: bool(1), float64(1), int64(1), object(10)
memory usage: 2.5+ MB

In [5]:
all_files

['../data/waitrose\\baby-child-and-parent.csv',
 '../data/waitrose\\bakery.csv',
 '../data/waitrose\\beer-wine-and-spirits.csv',
 '../data/waitrose\\best-of-british.csv',
 '../data/waitrose\\dietary-and-lifestyle.csv',
 '../data/waitrose\\everyday-value.csv',
 '../data/waitrose\\food-cupboard.csv',
 '../data/waitrose\\fresh-and-chilled.csv',
 '../data/waitrose\\frozen.csv',
 '../data/waitrose\\home.csv',
 '../data/waitrose\\household.csv',
 '../data/waitrose\\new.csv',
 '../data/waitrose\\organic-shop.csv',
 '../data/waitrose\\pet.csv',
 '../data/waitrose\\summer.csv',
 '../data/waitrose\\tea-coffee-and-soft-drinks.csv',
 '../data/waitrose\\toiletries-health-and-beauty.csv',
 '../data/waitrose\\waitrose-brands.csv']

In [6]:
df.head()

,data-product-id,data-product-name,data-product-type,data-product-on-offer,data-product-index,image-url,product-page,product-name,product-size,item-price,price-per-unit,offer-description,category
0,525635,Organix Raspberry & Apple Soft Oaty Bars,G,False,1.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Raspberry & Apple Soft Oaty Bars,6x23g,£3.15,£2.29/100g,NaN,"Baby, Child & Parent"
1,557746,Organix Carrot Cake Oaty Bars,G,False,2.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Carrot Cake Oaty Bars,6x23g,£3.15,£2.29/100g,NaN,"Baby, Child & Parent"
2,32062,Aptamil 2 Follow On Milk,G,False,394.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/aptamil...,Aptamil 2 Follow On Milk,800g,£13.50,£16.88/kg,NaN,"Baby, Child & Parent"
3,767801,Essential Baby Wipes,G,False,4.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/essenti...,Essential Baby Wipes,80s,95p,1.2p each,NaN,"Baby, Child & Parent"
4,514054,Organix Apple Rice Cakes,G,False,5.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Apple Rice Cakes,40g,£1.60,£4/100g,NaN,"Baby, Child & Parent"

In [7]:
df.tail()

,data-product-id,data-product-name,data-product-type,data-product-on-offer,data-product-index,image-url,product-page,product-name,product-size,item-price,price-per-unit,offer-description,category
1589,18427,Duchy Organic British Lamb Half Leg,G,False,1590.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/duchy-o...,Duchy Organic British Lamb Half Leg,Typical weight 0.94kg,£24.31 each est.,£26.00/kg,NaN,Waitrose Brands
1590,11606,Cooks' Ingredients Wok Oil,G,False,1591.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/cooks-i...,Cooks' Ingredients Wok Oil,250ml,£2.40,96p/100ml,NaN,Waitrose Brands
1591,6903,No. 1 Badoz Vacherin Du Haut-Doubs AOP French ...,G,False,1592.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/no-1-ba...,No. 1 Badoz Vacherin Du Haut-Doubs AOP French ...,350g,£10.00,£28.58/kg,NaN,Waitrose Brands
1592,6125,Cooks' Ingredients White Marzipan,G,False,1593.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/cooks-i...,Cooks' Ingredients White Marzipan,500g,£2.50,£5/kg,NaN,Waitrose Brands
1593,707668,Duchy Organic Pinot Grigio Bag in Box,W,False,1594.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/duchy-o...,Duchy Organic Pinot Grigio Bag in Box,2.25L,£21.49,£7.17/75cl,NaN,Waitrose Brands

In [8]:
# Drop duplicates
df = df.drop_duplicates()

df = df.drop(columns=['data-product-name', 
                      'data-product-type', 
                      'data-product-index'])
df = (
    df.rename(columns={
        'data-product-id': 'id',
        'data-product-on-offer': 'offer',
        'product-page': 'page',
        'product-name': 'name',
        'product-size': 'size',
    })
)

# The id does not need 64 bits. 32 bits is enough.
# See https://numpy.org/doc/stable/reference/arrays.scalars.html#numpy.intc for ranges.
df['id'] = df['id'].astype('int32')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25378 entries, 0 to 1593
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 25378 non-null  int32
 1   offer              25378 non-null  bool
 2   image-url          25378 non-null  object
 3   page               25378 non-null  object
 4   name               25367 non-null  object
 5   size               25323 non-null  object
 6   item-price         25367 non-null  object
 7   price-per-unit     24936 non-null  object
 8   offer-description  7178 non-null   object
 9   category           25378 non-null  object
dtypes: bool(1), int32(1), object(8)
memory usage: 1.9+ MB

In [10]:
def clean_item_price(item_price: str):
    if'each est' in item_price:
        item_price=item_price.replace("each est.","")
    if type(item_price)!=str:
        pass    
    if '£' in item_price:
        item_price = item_price.replace('£', '')
    elif 'p' in item_price:
        item_price = item_price.replace('p', '')
        item_price = '0.' + item_price
    if'-' in item_price:
        item_price=item_price.split('-')[0]    
    return float(item_price)

In [11]:
df.iloc[0]

id                                                              525635
offer                                                            False
image-url            https://ecom-su-static-prod.wtrecom.com/images...
page                 https://www.waitrose.com/ecom/products/organix...
name                          Organix Raspberry & Apple Soft Oaty Bars
size                                                             6x23g
item-price                                                       £3.15
price-per-unit                                              £2.29/100g
offer-description                                                  NaN
category                                          Baby, Child & Parent
Name: 0, dtype: object

In [12]:
df['item-price-fixed'] = df['item-price'].astype(str).apply(clean_item_price)

In [13]:
df['item-price-fixed']

0        3.15
1        3.15
2       13.50
3        0.95
4        1.60
        ...
1589    24.31
1590     2.40
1591    10.00
1592     2.50
1593    21.49
Name: item-price-fixed, Length: 25378, dtype: float64

In [14]:
selecter_rows=df['item-price'].astype(str).str.contains('-')
df.loc[selecter_rows,'size']=df.loc[selecter_rows,'size'].str.split('-').str[0].str.replace('(','')

In [15]:
df["item-price"]=df["item-price-fixed"]
df=df.drop(columns=["item-price-fixed"])

In [16]:
df[["name","item-price","size"]]

,name,item-price,size
0,Organix Raspberry & Apple Soft Oaty Bars,3.15,6x23g
1,Organix Carrot Cake Oaty Bars,3.15,6x23g
2,Aptamil 2 Follow On Milk,13.50,800g
3,Essential Baby Wipes,0.95,80s
4,Organix Apple Rice Cakes,1.60,40g
...,...,...,...
1589,Duchy Organic British Lamb Half Leg,24.31,Typical weight 0.94kg
1590,Cooks' Ingredients Wok Oil,2.40,250ml
1591,No. 1 Badoz Vacherin Du Haut-Doubs AOP French ...,10.00,350g
1592,Cooks' Ingredients White Marzipan,2.50,500g
1593,Duchy Organic Pinot Grigio Bag in Box,21.49,2.25L

In [17]:
df.groupby("category")["item-price"].describe()

,count,mean,std,min,25%,50%,75%,max
category,,,,,,,,
"Baby, Child & Parent",428.0,5.196215,4.677661,0.60,1.8000,3.075,7.2625,25.00
Bakery,482.0,4.846680,7.750208,0.50,1.6000,2.200,3.1500,45.00
"Beer, Wine & Spirits",1679.0,14.425057,15.720801,0.30,5.3700,9.990,17.9900,299.99
Best of British,322.0,6.928106,12.570727,0.10,2.7125,4.150,6.0000,168.00
Dietary & Lifestyle,3337.0,3.795999,4.755322,0.10,1.9500,2.750,4.0000,139.99
Everyday Value,141.0,1.740284,1.202873,0.15,1.1000,1.350,2.0000,8.00
Food Cupboard,4186.0,2.665160,2.138691,0.35,1.6000,2.250,3.0000,43.50
Fresh & Chilled,3578.0,3.815151,5.267549,0.10,2.0000,2.900,4.1425,168.00
Frozen,431.0,3.627378,1.544523,0.70,2.6500,3.500,4.4750,12.00
Home,1075.0,8.595033,10.764164,0.49,3.0000,5.990,10.5000,159.00
Household,927.0,5.518619,3.934800,0.70,2.9500,4.500,7.0000,45.00
New,803.0,5.300162,4.948709,0.80,2.5000,3.500,6.0000,33.00
Organic Shop,671.0,4.937928,5.355143,0.60,2.0000,2.950,5.0000,35.00
Pet,372.0,5.403306,4.381911,0.65,2.2500,4.050,7.4500,30.00
Summer,1799.0,6.002223,7.900751,0.30,2.5000,3.750,6.0500,168.00
"Tea, Coffee & Soft Drinks",1290.0,3.826000,2.743019,0.40,2.1000,3.500,4.7500,59.99
"Toiletries, Health & Beauty",2255.0,7.734093,7.883916,0.55,3.1600,5.600,10.0000,168.00
Waitrose Brands,1591.0,3.005475,3.380658,0.10,1.4000,2.100,3.4000,53.20

In [18]:
plot_df=df.groupby("category")["item-price"].describe().reset_index()

In [19]:
plot_df

,category,count,mean,std,min,25%,50%,75%,max
0,"Baby, Child & Parent",428.0,5.196215,4.677661,0.60,1.8000,3.075,7.2625,25.00
1,Bakery,482.0,4.846680,7.750208,0.50,1.6000,2.200,3.1500,45.00
2,"Beer, Wine & Spirits",1679.0,14.425057,15.720801,0.30,5.3700,9.990,17.9900,299.99
3,Best of British,322.0,6.928106,12.570727,0.10,2.7125,4.150,6.0000,168.00
4,Dietary & Lifestyle,3337.0,3.795999,4.755322,0.10,1.9500,2.750,4.0000,139.99
5,Everyday Value,141.0,1.740284,1.202873,0.15,1.1000,1.350,2.0000,8.00
6,Food Cupboard,4186.0,2.665160,2.138691,0.35,1.6000,2.250,3.0000,43.50
7,Fresh & Chilled,3578.0,3.815151,5.267549,0.10,2.0000,2.900,4.1425,168.00
8,Frozen,431.0,3.627378,1.544523,0.70,2.6500,3.500,4.4750,12.00
9,Home,1075.0,8.595033,10.764164,0.49,3.0000,5.990,10.5000,159.00
10,Household,927.0,5.518619,3.934800,0.70,2.9500,4.500,7.0000,45.00
11,New,803.0,5.300162,4.948709,0.80,2.5000,3.500,6.0000,33.00
12,Organic Shop,671.0,4.937928,5.355143,0.60,2.0000,2.950,5.0000,35.00
13,Pet,372.0,5.403306,4.381911,0.65,2.2500,4.050,7.4500,30.00
14,Summer,1799.0,6.002223,7.900751,0.30,2.5000,3.750,6.0500,168.00
15,"Tea, Coffee & Soft Drinks",1290.0,3.826000,2.743019,0.40,2.1000,3.500,4.7500,59.99
16,"Toiletries, Health & Beauty",2255.0,7.734093,7.883916,0.55,3.1600,5.600,10.0000,168.00
17,Waitrose Brands,1591.0,3.005475,3.380658,0.10,1.4000,2.100,3.4000,53.20

In [20]:
plot_df.rename(columns={"25%":"Q1",
                       "50%":"Median",
                       "75%":"Q3"},
                       inplace=True)

In [21]:
plot_df

,category,count,mean,std,min,Q1,Median,Q3,max
0,"Baby, Child & Parent",428.0,5.196215,4.677661,0.60,1.8000,3.075,7.2625,25.00
1,Bakery,482.0,4.846680,7.750208,0.50,1.6000,2.200,3.1500,45.00
2,"Beer, Wine & Spirits",1679.0,14.425057,15.720801,0.30,5.3700,9.990,17.9900,299.99
3,Best of British,322.0,6.928106,12.570727,0.10,2.7125,4.150,6.0000,168.00
4,Dietary & Lifestyle,3337.0,3.795999,4.755322,0.10,1.9500,2.750,4.0000,139.99
5,Everyday Value,141.0,1.740284,1.202873,0.15,1.1000,1.350,2.0000,8.00
6,Food Cupboard,4186.0,2.665160,2.138691,0.35,1.6000,2.250,3.0000,43.50
7,Fresh & Chilled,3578.0,3.815151,5.267549,0.10,2.0000,2.900,4.1425,168.00
8,Frozen,431.0,3.627378,1.544523,0.70,2.6500,3.500,4.4750,12.00
9,Home,1075.0,8.595033,10.764164,0.49,3.0000,5.990,10.5000,159.00
10,Household,927.0,5.518619,3.934800,0.70,2.9500,4.500,7.0000,45.00
11,New,803.0,5.300162,4.948709,0.80,2.5000,3.500,6.0000,33.00
12,Organic Shop,671.0,4.937928,5.355143,0.60,2.0000,2.950,5.0000,35.00
13,Pet,372.0,5.403306,4.381911,0.65,2.2500,4.050,7.4500,30.00
14,Summer,1799.0,6.002223,7.900751,0.30,2.5000,3.750,6.0500,168.00
15,"Tea, Coffee & Soft Drinks",1290.0,3.826000,2.743019,0.40,2.1000,3.500,4.7500,59.99
16,"Toiletries, Health & Beauty",2255.0,7.734093,7.883916,0.55,3.1600,5.600,10.0000,168.00
17,Waitrose Brands,1591.0,3.005475,3.380658,0.10,1.4000,2.100,3.4000,53.20

In [22]:
tooltip_setup = (
    layer_tooltips()
        .line('@category')
        .line('[@Q1 -- @Median -- @Q3]')
        .format('@Q1', '£ {.2f}')
        .format('@Median', '£ {.2f}')
        .format('@Q3', '£ {.2f}')
)
g =(
    ggplot(plot_df, aes(y='category', x='Median', xmin='Q1', xmax='Q3', fill='category')) +
    geom_linerange(size=1, alpha=0.75, tooltips=tooltip_setup) +
    geom_point(size=3, stroke=1, shape=21, tooltips=tooltip_setup) +
    scale_fill_discrete(guide='none') +
    scale_y_continuous(name="Categories\n(from largest to smallest median)", expand=[0.05, 0.05]) +
    scale_x_continuous(name="Price (£)", expand=[0., 0.05], format='£ {.2f}', breaks=np.arange(0, 20, 2.5)) +
     labs(title='"Beer, Wine & Spirits" has the highest median price for individual items',
         subtitle="Dots represent the median price, bars represent the 25th and 75th percentiles") +
    theme(axis_text_x=element_text(size=15),
        axis_text_y=element_text(size=17),
        axis_title_x=element_text(size=20),
        axis_title_y=element_text(size=20),
        plot_title=element_text(size=19, face='bold'),
        plot_subtitle=element_text(size=18),
        legend_position='none') +
    ggsize(1000, 500)

)
g